<div class="container pt-5">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title bold">Online Assessment and Evaluation System</h5>
      <p class="card-text">
        Professors can create tests, and Students can take them.
      </p>
    </div>
    <img
      class="card-img-bottom"
      src="assets/img/carousel1.jpg"
      alt="Card image cap"
    />
  </div>
  <br />
  <br />
  <p class="text-large font-weight-bold">
    The emerging issues identified for online education are the role of the
    teacher, student participation and assessment. Conducting effective
    assessments in a large-scale environment for online education is one of the
    biggest challenge. Quality of examination gets affected by issues emerging
    from assessment instrument quality and evaluation centered errors.
  </p>
</div>
